{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Products</h1>
    {% if products|length %}
        <ul>
            {% for product in products %}
{#                <li> <a href="{{ path('product_page',{'id': product.id, 'active': 1}) }}"> {{ product.title }}</a>:#}
{#                    <a href= "{{ path('product_page', {route_parameters : ['id'], relative = false})}}" > {{ product.title }}</a>:#}
<li>
    <a href="{{ path('product_page', {id:product.id}) }}" >   {{ product.title }}</a>
                    {{ product.price }} €</li>
                <a href="{{ path('cart_add', {id:product.id}) }}"> Add to cart</a>
            {% endfor %}
        </ul>
    {% else %}
        <div>No products</div>
    {% endif %}
</div>
{% endblock %}
